.account {
    background-color: orange;
}

.container {
    /* width: 100%; */
    /* max-width: 400px; */
    /* margin: 0 auto; */
    /* text-align: center; */
    padding: 20px;
}

.asdf {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 100%;
}

.btn {
    background-color: lightgray;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: lightgray;
    margin: 0 10px;
}

.social-login {
    display: flex;
    justify-content: space-around;
}

.social-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.footer {
    margin-top: 20px;
}

.login-btn {
    margin: 0 auto;
    background-color: lightgray;
    color: black;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}